@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@font-face {
    font-family: 'NeueHaasGrotesk';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: local('NeueHaasGrotesk'), url('./fonts/NeueHaasGrotesk.woff') format('woff');
  
  }
  
  @font-face {
    font-family: 'hp-simplified';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('hp-simplified'), url('./fonts/hp-simplified.woff') format('woff');
  }
  
  