@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/images/blog_bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

@font-face {
  font-family: "NeueHaasGrotesk";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local("NeueHaasGrotesk"),
    url("/fonts/NeueHaasGrotesk.woff") format("woff");
}

@font-face {
  font-family: "hp-simplified";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("hp-simplified"), url("/fonts/hp-simplified.woff") format("woff");
}
 
/* VIDEOJS CSS STARTS */

.video-js {
  width: 100%;
}
.video-js .vjs-tech {
  position: unset !important;
}
.video-js {
  background-color: transparent !important;
}
.video-js .vjs-control-bar {
  bottom: 5px !important;
  background-color: transparent !important;
}
.video-js .vjs-big-play-button {
  display: none !important;
}

/* DROPDOWN CSS STARTS */

@media (max-width: 767px) {
  .Dropdown-control {
    background: none !important ;
    border: none !important;
    padding: 0 !important;
    overflow: unset !important;
    font-size: 14px !important;
    color: #f96332 !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
  }

  .Dropdown-arrow {
    border-color: #f96332 transparent transparent !important;
    top: 8px !important;
    right: -15% !important;
  }

  .Dropdown-menu {
    background-color: #000 !important;
    width: auto !important;
    text-transform: uppercase !important;
    text-align: left !important;
    top: 30px !important;
    border: 1px solid #ffffff7a !important;
  }

  .Dropdown-option.is-selected {
    background-color: black !important;
    color: #f96332 !important;
  }

  .Dropdown-option {
    font-size: 16px !important;
    color: #fff !important;
    border-bottom: 1px solid #ffffff5c !important;
    padding: 8px 35px 8px 10px !important;
  }
}
/* DROPDOWN CSS ENDS */

/* FOR HIDE SHOW STARTS */
.hide {
  display: none;
}
.show-d {
  display: block;
}

li {
  list-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

/* Hide SHOW ENDS */

.indiana-scroll-container--hide-scrollbars {
  display: none;
}

@media (max-width: 900px) {
  .indiana-scroll-container--hide-scrollbars {
    display: block;
  }
}

@media (max-width: 767px) {
  .hide-m {
    display: none;
  }
}

/* CREATING COMMON CONTAINER */
.container {
  margin: 0 auto;
  max-width: 1000px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (min-width: 1100px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}
