body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('../public/images/blog_bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

audio, canvas, iframe, img, svg, video{
    vertical-align: middle;
}