.category_d {
  display: block;
}
.category_m {
  display: none;
}
.displayBlock {
  display: block;
}
.cat_link {
  border-radius: 1.1vw;
  overflow: hidden;
  position: relative;
}

.cat_link::before {
  content: "";
  display: block;
  padding-top: 70%;
}

.cat_link img {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.loaderHeight {
  height: 100px;
}

.loaderContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
}

@media (max-width: 900px) {
  .category_d {
    display: none;
  }
  .category_m {
    display: block;
  }
}
@media (max-width: 532px) {
  .cat_link img {
    width: 95%;
  }
}
