.insighthead {
  color: #fff;
  float: left;
  font-size: 2rem;
  margin: 1rem;
  font-family: "NeueHaasGrotesk";
}

.insightMain_div {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}
@media (max-width: 767px) {
  .insightMain_div {
    width: 95%;
    margin: auto;
    flex-direction: column;
  }
  .insighthead{
    font-size: 25px;
  }
}
